.picture-container {
  height: 0;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.025);
  padding-bottom: 68.193548%;
}

.picture {    
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}



ul {
  list-style: none;
  padding-left: 20px;
}

li.picture-link {
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
  font-family: 'Permanent Marker', cursive;
}

@media (max-width: 767px) {
  li.picture-link {
    padding-right: 30px !important;
  }
}

.text {
  z-index: 1;
  width: 100%;
  position: absolute;
  color: white;
  display: table;
}

.text:hover {
  color: orange;
}

p.picture-des {
  font-size: -webkit-xxx-large;
  text-align: center; 
  vertical-align: middle;
  display: table-cell;  
  height: 200px;
}

